@import "../../../scss/retinajs";
.math {
    width: 100%;
    max-width: 1500px;
    margin-top: 2.5rem;
    &.flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        //flex-direction: row;
        //align-content: flex-start;
        div {
            padding: 1.5rem;
            &#align-bottom {
                align-self: flex-end;
            }
        }
    }
}
