@import "../../../scss/retinajs";
$bg:#8dcfbb;

body {
    background-color: $bg;
}

#front-cover {
    transform: rotate(-1deg);
    top: 5em;
    left: 0;
}

#dots {
    transform: rotate(1deg);
    margin-left: -10em;
}

#forest {
    transform: rotate(-1deg);
    margin-left: -10em;
}

#credits {
    margin-left: 3em;
    transform: rotate(-2deg);
}

#contents-this {
    margin-left: 10em;
    transform: rotate(-1deg);
}

#legenda-1 {
    left: 5em;
    top: -30em;
    transform: rotate(1deg);
    z-index: 1;
}

#legenda-2 {
    left: 20em;
    top: 35em;
    transform: rotate(-2deg);
    z-index: 1;
}