@import "../../../scss/retinajs";
$bg:#8dcfbb;
body {
    background-color: $bg;
}

#bg1 {
    @include at2x('../img/a');
}

.bd-48 {
    height: 48px;
    z-index: 1;
}

.man {
    height:45px;
    width:36px;
}