table {
  font-size: 2.5rem;
  -webkit-transform: translate(-0.15rem, 0);
          transform: translate(-0.15rem, 0);
}

table tr {
  height: 3.5rem;
}

table td {
  width: 10rem;
}

#ball-1 {
  -webkit-animation: ball-1 7s linear infinite normal;
          animation: ball-1 7s linear infinite normal;
}

#ball-2 {
  -webkit-animation: ball-2 7s linear infinite normal;
          animation: ball-2 7s linear infinite normal;
}

#ball-3 {
  -webkit-animation: ball-3 7s linear infinite normal;
          animation: ball-3 7s linear infinite normal;
}

#ball-4 {
  -webkit-animation: ball-4 7s linear infinite normal;
          animation: ball-4 7s linear infinite normal;
}

#ball-5 {
  -webkit-animation: ball-5 7s linear infinite normal;
          animation: ball-5 7s linear infinite normal;
}

#ball-6 {
  -webkit-animation: ball-6 7s linear infinite alternate;
          animation: ball-6 7s linear infinite alternate;
}

#ball-7 {
  -webkit-animation: ball-7 7s linear infinite alternate;
          animation: ball-7 7s linear infinite alternate;
}

#bat-1 {
  -webkit-animation: bat-1 7s linear infinite normal;
          animation: bat-1 7s linear infinite normal;
}

#bat-2 {
  -webkit-animation: bat-2 7s linear infinite normal;
          animation: bat-2 7s linear infinite normal;
}

#bat-3 {
  -webkit-animation: bat-3 7s linear infinite normal;
          animation: bat-3 7s linear infinite normal;
}

#bat-4 {
  -webkit-animation: bat-4 7s linear infinite normal;
          animation: bat-4 7s linear infinite normal;
}

#bat-5 {
  -webkit-animation: bat-5 7s linear infinite normal;
          animation: bat-5 7s linear infinite normal;
}

#bat-6 {
  -webkit-animation: bat-6 7s linear infinite alternate;
          animation: bat-6 7s linear infinite alternate;
}

#bat-7 {
  -webkit-animation: bat-7 7s linear infinite alternate;
          animation: bat-7 7s linear infinite alternate;
}

@-webkit-keyframes ball-1 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(-9rem, -1rem);
            transform: translate(-9rem, -1rem);
  }
  14% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  21% {
    -webkit-transform: translate(-9rem, -8rem);
            transform: translate(-9rem, -8rem);
  }
  28% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  37% {
    -webkit-transform: translate(-9rem, 0rem);
            transform: translate(-9rem, 0rem);
  }
  47% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  54% {
    -webkit-transform: translate(-9rem, 16rem);
            transform: translate(-9rem, 16rem);
  }
  61% {
    -webkit-transform: translate(0rem, 18rem);
            transform: translate(0rem, 18rem);
  }
  68% {
    -webkit-transform: translate(-9rem, 20rem);
            transform: translate(-9rem, 20rem);
  }
  78% {
    -webkit-transform: translate(0rem, 10rem);
            transform: translate(0rem, 10rem);
  }
  86% {
    -webkit-transform: translate(-9rem, 5rem);
            transform: translate(-9rem, 5rem);
  }
  91% {
    -webkit-transform: translate(0rem, 3rem);
            transform: translate(0rem, 3rem);
  }
  95% {
    -webkit-transform: translate(-9rem, 10rem);
            transform: translate(-9rem, 10rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes ball-1 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(-9rem, -1rem);
            transform: translate(-9rem, -1rem);
  }
  14% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  21% {
    -webkit-transform: translate(-9rem, -8rem);
            transform: translate(-9rem, -8rem);
  }
  28% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  37% {
    -webkit-transform: translate(-9rem, 0rem);
            transform: translate(-9rem, 0rem);
  }
  47% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  54% {
    -webkit-transform: translate(-9rem, 16rem);
            transform: translate(-9rem, 16rem);
  }
  61% {
    -webkit-transform: translate(0rem, 18rem);
            transform: translate(0rem, 18rem);
  }
  68% {
    -webkit-transform: translate(-9rem, 20rem);
            transform: translate(-9rem, 20rem);
  }
  78% {
    -webkit-transform: translate(0rem, 10rem);
            transform: translate(0rem, 10rem);
  }
  86% {
    -webkit-transform: translate(-9rem, 5rem);
            transform: translate(-9rem, 5rem);
  }
  91% {
    -webkit-transform: translate(0rem, 3rem);
            transform: translate(0rem, 3rem);
  }
  95% {
    -webkit-transform: translate(-9rem, 10rem);
            transform: translate(-9rem, 10rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes bat-1 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  14% {
    -webkit-transform: translate(0rem, -4rem);
            transform: translate(0rem, -4rem);
  }
  21% {
    -webkit-transform: translate(0rem, -5rem);
            transform: translate(0rem, -5rem);
  }
  28% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  37% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  47% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  54% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  61% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  68% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  78% {
    -webkit-transform: translate(0rem, 10rem);
            transform: translate(0rem, 10rem);
  }
  86% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  91% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  95% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes bat-1 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  14% {
    -webkit-transform: translate(0rem, -4rem);
            transform: translate(0rem, -4rem);
  }
  21% {
    -webkit-transform: translate(0rem, -5rem);
            transform: translate(0rem, -5rem);
  }
  28% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  37% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  47% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  54% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  61% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  68% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  78% {
    -webkit-transform: translate(0rem, 10rem);
            transform: translate(0rem, 10rem);
  }
  86% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  91% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  95% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes ball-2 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(9rem, -2rem);
            transform: translate(9rem, -2rem);
  }
  13% {
    -webkit-transform: translate(0rem, -4rem);
            transform: translate(0rem, -4rem);
  }
  19% {
    -webkit-transform: translate(8.7rem, -6rem);
            transform: translate(8.7rem, -6rem);
  }
  25% {
    -webkit-transform: translate(0rem, -9rem);
            transform: translate(0rem, -9rem);
  }
  33% {
    -webkit-transform: translate(9.1rem, -13.1rem);
            transform: translate(9.1rem, -13.1rem);
  }
  50% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  58% {
    -webkit-transform: translate(9rem, 20rem);
            transform: translate(9rem, 20rem);
  }
  65% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  75% {
    -webkit-transform: translate(9rem, 15rem);
            transform: translate(9rem, 15rem);
  }
  83% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  90% {
    -webkit-transform: translate(9rem, -3rem);
            transform: translate(9rem, -3rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes ball-2 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(9rem, -2rem);
            transform: translate(9rem, -2rem);
  }
  13% {
    -webkit-transform: translate(0rem, -4rem);
            transform: translate(0rem, -4rem);
  }
  19% {
    -webkit-transform: translate(8.7rem, -6rem);
            transform: translate(8.7rem, -6rem);
  }
  25% {
    -webkit-transform: translate(0rem, -9rem);
            transform: translate(0rem, -9rem);
  }
  33% {
    -webkit-transform: translate(9.1rem, -13.1rem);
            transform: translate(9.1rem, -13.1rem);
  }
  50% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  58% {
    -webkit-transform: translate(9rem, 20rem);
            transform: translate(9rem, 20rem);
  }
  65% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  75% {
    -webkit-transform: translate(9rem, 15rem);
            transform: translate(9rem, 15rem);
  }
  83% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  90% {
    -webkit-transform: translate(9rem, -3rem);
            transform: translate(9rem, -3rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes bat-2 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  13% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  19% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  25% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  33% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  44% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  50% {
    -webkit-transform: translate(0rem, 17rem);
            transform: translate(0rem, 17rem);
  }
  58% {
    -webkit-transform: translate(0rem, 11rem);
            transform: translate(0rem, 11rem);
  }
  65% {
    -webkit-transform: translate(0rem, 29rem);
            transform: translate(0rem, 29rem);
  }
  75% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  83% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  90% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes bat-2 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  13% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  19% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  25% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  33% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  44% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  50% {
    -webkit-transform: translate(0rem, 17rem);
            transform: translate(0rem, 17rem);
  }
  58% {
    -webkit-transform: translate(0rem, 11rem);
            transform: translate(0rem, 11rem);
  }
  65% {
    -webkit-transform: translate(0rem, 29rem);
            transform: translate(0rem, 29rem);
  }
  75% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  83% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  90% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes ball-3 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  8% {
    -webkit-transform: translate(-9.3rem, -2rem);
            transform: translate(-9.3rem, -2rem);
  }
  16% {
    -webkit-transform: translate(0rem, -4rem);
            transform: translate(0rem, -4rem);
  }
  27% {
    -webkit-transform: translate(-9.3rem, -13rem);
            transform: translate(-9.3rem, -13rem);
  }
  34% {
    -webkit-transform: translate(0rem, -22rem);
            transform: translate(0rem, -22rem);
  }
  40% {
    -webkit-transform: translate(-9.3rem, -20rem);
            transform: translate(-9.3rem, -20rem);
  }
  46% {
    -webkit-transform: translate(0rem, -22rem);
            transform: translate(0rem, -22rem);
  }
  52% {
    -webkit-transform: translate(-9.3rem, -15rem);
            transform: translate(-9.3rem, -15rem);
  }
  63% {
    -webkit-transform: translate(0rem, -9rem);
            transform: translate(0rem, -9rem);
  }
  70% {
    -webkit-transform: translate(-9.3rem, -8rem);
            transform: translate(-9.3rem, -8rem);
  }
  77% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  85% {
    -webkit-transform: translate(-9.3rem, 7rem);
            transform: translate(-9.3rem, 7rem);
  }
  91% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  96% {
    -webkit-transform: translate(-9.3rem, 2rem);
            transform: translate(-9.3rem, 2rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes ball-3 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  8% {
    -webkit-transform: translate(-9.3rem, -2rem);
            transform: translate(-9.3rem, -2rem);
  }
  16% {
    -webkit-transform: translate(0rem, -4rem);
            transform: translate(0rem, -4rem);
  }
  27% {
    -webkit-transform: translate(-9.3rem, -13rem);
            transform: translate(-9.3rem, -13rem);
  }
  34% {
    -webkit-transform: translate(0rem, -22rem);
            transform: translate(0rem, -22rem);
  }
  40% {
    -webkit-transform: translate(-9.3rem, -20rem);
            transform: translate(-9.3rem, -20rem);
  }
  46% {
    -webkit-transform: translate(0rem, -22rem);
            transform: translate(0rem, -22rem);
  }
  52% {
    -webkit-transform: translate(-9.3rem, -15rem);
            transform: translate(-9.3rem, -15rem);
  }
  63% {
    -webkit-transform: translate(0rem, -9rem);
            transform: translate(0rem, -9rem);
  }
  70% {
    -webkit-transform: translate(-9.3rem, -8rem);
            transform: translate(-9.3rem, -8rem);
  }
  77% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  85% {
    -webkit-transform: translate(-9.3rem, 7rem);
            transform: translate(-9.3rem, 7rem);
  }
  91% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  96% {
    -webkit-transform: translate(-9.3rem, 2rem);
            transform: translate(-9.3rem, 2rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes bat-3 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  8% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  16% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  27% {
    -webkit-transform: translate(0rem, -3rem);
            transform: translate(0rem, -3rem);
  }
  34% {
    -webkit-transform: translate(0rem, -24rem);
            transform: translate(0rem, -24rem);
  }
  40% {
    -webkit-transform: translate(0rem, -24rem);
            transform: translate(0rem, -24rem);
  }
  46% {
    -webkit-transform: translate(0rem, -25rem);
            transform: translate(0rem, -25rem);
  }
  52% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  63% {
    -webkit-transform: translate(0rem, -7rem);
            transform: translate(0rem, -7rem);
  }
  70% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  77% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  85% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  93% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes bat-3 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  8% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  16% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  27% {
    -webkit-transform: translate(0rem, -3rem);
            transform: translate(0rem, -3rem);
  }
  34% {
    -webkit-transform: translate(0rem, -24rem);
            transform: translate(0rem, -24rem);
  }
  40% {
    -webkit-transform: translate(0rem, -24rem);
            transform: translate(0rem, -24rem);
  }
  46% {
    -webkit-transform: translate(0rem, -25rem);
            transform: translate(0rem, -25rem);
  }
  52% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  63% {
    -webkit-transform: translate(0rem, -7rem);
            transform: translate(0rem, -7rem);
  }
  70% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  77% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  85% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  93% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes ball-4 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  3% {
    -webkit-transform: translate(8.7rem, -1rem);
            transform: translate(8.7rem, -1rem);
  }
  6% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  10% {
    -webkit-transform: translate(8.7rem, -2rem);
            transform: translate(8.7rem, -2rem);
  }
  15% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  20% {
    -webkit-transform: translate(8.7rem, -7rem);
            transform: translate(8.7rem, -7rem);
  }
  25% {
    -webkit-transform: translate(0rem, -10rem);
            transform: translate(0rem, -10rem);
  }
  30% {
    -webkit-transform: translate(8.7rem, -9rem);
            transform: translate(8.7rem, -9rem);
  }
  35% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  40% {
    -webkit-transform: translate(8.7rem, -13rem);
            transform: translate(8.7rem, -13rem);
  }
  45% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  50% {
    -webkit-transform: translate(8.7rem, -13rem);
            transform: translate(8.7rem, -13rem);
  }
  55% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  60% {
    -webkit-transform: translate(8.7rem, -16rem);
            transform: translate(8.7rem, -16rem);
  }
  65% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  70% {
    -webkit-transform: translate(8.7rem, -14rem);
            transform: translate(8.7rem, -14rem);
  }
  75% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  80% {
    -webkit-transform: translate(8.7rem, -12rem);
            transform: translate(8.7rem, -12rem);
  }
  85% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  90% {
    -webkit-transform: translate(8.7rem, 1rem);
            transform: translate(8.7rem, 1rem);
  }
  93% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  96% {
    -webkit-transform: translate(8.7rem, 1rem);
            transform: translate(8.7rem, 1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes ball-4 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  3% {
    -webkit-transform: translate(8.7rem, -1rem);
            transform: translate(8.7rem, -1rem);
  }
  6% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  10% {
    -webkit-transform: translate(8.7rem, -2rem);
            transform: translate(8.7rem, -2rem);
  }
  15% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  20% {
    -webkit-transform: translate(8.7rem, -7rem);
            transform: translate(8.7rem, -7rem);
  }
  25% {
    -webkit-transform: translate(0rem, -10rem);
            transform: translate(0rem, -10rem);
  }
  30% {
    -webkit-transform: translate(8.7rem, -9rem);
            transform: translate(8.7rem, -9rem);
  }
  35% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  40% {
    -webkit-transform: translate(8.7rem, -13rem);
            transform: translate(8.7rem, -13rem);
  }
  45% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  50% {
    -webkit-transform: translate(8.7rem, -13rem);
            transform: translate(8.7rem, -13rem);
  }
  55% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  60% {
    -webkit-transform: translate(8.7rem, -16rem);
            transform: translate(8.7rem, -16rem);
  }
  65% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  70% {
    -webkit-transform: translate(8.7rem, -14rem);
            transform: translate(8.7rem, -14rem);
  }
  75% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  80% {
    -webkit-transform: translate(8.7rem, -12rem);
            transform: translate(8.7rem, -12rem);
  }
  85% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  90% {
    -webkit-transform: translate(8.7rem, 1rem);
            transform: translate(8.7rem, 1rem);
  }
  93% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  96% {
    -webkit-transform: translate(8.7rem, 1rem);
            transform: translate(8.7rem, 1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes bat-4 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(0rem, -3rem);
            transform: translate(0rem, -3rem);
  }
  10% {
    -webkit-transform: translate(0rem, -3rem);
            transform: translate(0rem, -3rem);
  }
  10% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  15% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  20% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  25% {
    -webkit-transform: translate(0rem, -9rem);
            transform: translate(0rem, -9rem);
  }
  30% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  35% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  40% {
    -webkit-transform: translate(0rem, -19rem);
            transform: translate(0rem, -19rem);
  }
  45% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  50% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  55% {
    -webkit-transform: translate(0rem, -20rem);
            transform: translate(0rem, -20rem);
  }
  60% {
    -webkit-transform: translate(0rem, -21rem);
            transform: translate(0rem, -21rem);
  }
  65% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  70% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  75% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  80% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  85% {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
  }
  90% {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
  }
  93% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  96% {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes bat-4 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(0rem, -3rem);
            transform: translate(0rem, -3rem);
  }
  10% {
    -webkit-transform: translate(0rem, -3rem);
            transform: translate(0rem, -3rem);
  }
  10% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  15% {
    -webkit-transform: translate(0rem, -2rem);
            transform: translate(0rem, -2rem);
  }
  20% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  25% {
    -webkit-transform: translate(0rem, -9rem);
            transform: translate(0rem, -9rem);
  }
  30% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  35% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  40% {
    -webkit-transform: translate(0rem, -19rem);
            transform: translate(0rem, -19rem);
  }
  45% {
    -webkit-transform: translate(0rem, -15rem);
            transform: translate(0rem, -15rem);
  }
  50% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  55% {
    -webkit-transform: translate(0rem, -20rem);
            transform: translate(0rem, -20rem);
  }
  60% {
    -webkit-transform: translate(0rem, -21rem);
            transform: translate(0rem, -21rem);
  }
  65% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  70% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  75% {
    -webkit-transform: translate(0rem, -17rem);
            transform: translate(0rem, -17rem);
  }
  80% {
    -webkit-transform: translate(0rem, -14rem);
            transform: translate(0rem, -14rem);
  }
  85% {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
  }
  90% {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
  }
  93% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  96% {
    -webkit-transform: translate(0rem, 1rem);
            transform: translate(0rem, 1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes ball-5 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  6% {
    -webkit-transform: translate(-8.3rem, 1rem);
            transform: translate(-8.3rem, 1rem);
  }
  20% {
    -webkit-transform: translate(0rem, 10rem);
            transform: translate(0rem, 10rem);
  }
  25% {
    -webkit-transform: translate(-8.5rem, 14rem);
            transform: translate(-8.5rem, 14rem);
  }
  30% {
    -webkit-transform: translate(0rem, 18rem);
            transform: translate(0rem, 18rem);
  }
  43% {
    -webkit-transform: translate(-8.3rem, 0rem);
            transform: translate(-8.3rem, 0rem);
  }
  50% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  57% {
    -webkit-transform: translate(-8.1rem, -5rem);
            transform: translate(-8.1rem, -5rem);
  }
  63% {
    -webkit-transform: translate(0rem, -8rem);
            transform: translate(0rem, -8rem);
  }
  69% {
    -webkit-transform: translate(-8rem, -10rem);
            transform: translate(-8rem, -10rem);
  }
  75% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  80% {
    -webkit-transform: translate(-8rem, -11rem);
            transform: translate(-8rem, -11rem);
  }
  85% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  90% {
    -webkit-transform: translate(-8.4rem, 3rem);
            transform: translate(-8.4rem, 3rem);
  }
  93% {
    -webkit-transform: translate(0rem, 1.5rem);
            transform: translate(0rem, 1.5rem);
  }
  97% {
    -webkit-transform: translate(-8.4rem, 1rem);
            transform: translate(-8.4rem, 1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes ball-5 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  6% {
    -webkit-transform: translate(-8.3rem, 1rem);
            transform: translate(-8.3rem, 1rem);
  }
  20% {
    -webkit-transform: translate(0rem, 10rem);
            transform: translate(0rem, 10rem);
  }
  25% {
    -webkit-transform: translate(-8.5rem, 14rem);
            transform: translate(-8.5rem, 14rem);
  }
  30% {
    -webkit-transform: translate(0rem, 18rem);
            transform: translate(0rem, 18rem);
  }
  43% {
    -webkit-transform: translate(-8.3rem, 0rem);
            transform: translate(-8.3rem, 0rem);
  }
  50% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  57% {
    -webkit-transform: translate(-8.1rem, -5rem);
            transform: translate(-8.1rem, -5rem);
  }
  63% {
    -webkit-transform: translate(0rem, -8rem);
            transform: translate(0rem, -8rem);
  }
  69% {
    -webkit-transform: translate(-8rem, -10rem);
            transform: translate(-8rem, -10rem);
  }
  75% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  80% {
    -webkit-transform: translate(-8rem, -11rem);
            transform: translate(-8rem, -11rem);
  }
  85% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  90% {
    -webkit-transform: translate(-8.4rem, 3rem);
            transform: translate(-8.4rem, 3rem);
  }
  93% {
    -webkit-transform: translate(0rem, 1.5rem);
            transform: translate(0rem, 1.5rem);
  }
  97% {
    -webkit-transform: translate(-8.4rem, 1rem);
            transform: translate(-8.4rem, 1rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes bat-5 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  13% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  20% {
    -webkit-transform: translate(0rem, 8rem);
            transform: translate(0rem, 8rem);
  }
  25% {
    -webkit-transform: translate(0rem, 12rem);
            transform: translate(0rem, 12rem);
  }
  30% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  43% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  50% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  57% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  63% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  69% {
    -webkit-transform: translate(0rem, -8rem);
            transform: translate(0rem, -8rem);
  }
  75% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  80% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  85% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  90% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  93% {
    -webkit-transform: translate(0rem, 3rem);
            transform: translate(0rem, 3rem);
  }
  97% {
    -webkit-transform: translate(0rem, 3rem);
            transform: translate(0rem, 3rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@keyframes bat-5 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  7% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  13% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  20% {
    -webkit-transform: translate(0rem, 8rem);
            transform: translate(0rem, 8rem);
  }
  25% {
    -webkit-transform: translate(0rem, 12rem);
            transform: translate(0rem, 12rem);
  }
  30% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  43% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  50% {
    -webkit-transform: translate(0rem, 2rem);
            transform: translate(0rem, 2rem);
  }
  57% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  63% {
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  69% {
    -webkit-transform: translate(0rem, -8rem);
            transform: translate(0rem, -8rem);
  }
  75% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  80% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  85% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  90% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  93% {
    -webkit-transform: translate(0rem, 3rem);
            transform: translate(0rem, 3rem);
  }
  97% {
    -webkit-transform: translate(0rem, 3rem);
            transform: translate(0rem, 3rem);
  }
  100% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
}

@-webkit-keyframes ball-6 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(9rem, 7rem);
            transform: translate(9rem, 7rem);
  }
  10% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  15% {
    -webkit-transform: translate(9rem, 20rem);
            transform: translate(9rem, 20rem);
  }
  20% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  28% {
    -webkit-transform: translate(14rem, 32rem);
            transform: translate(14rem, 32rem);
  }
  36% {
    -webkit-transform: translate(23rem, 22.5rem);
            transform: translate(23rem, 22.5rem);
  }
  44% {
    -webkit-transform: translate(30rem, 32rem);
            transform: translate(30rem, 32rem);
  }
  52% {
    -webkit-transform: translate(37rem, 22.5rem);
            transform: translate(37rem, 22.5rem);
  }
  60% {
    -webkit-transform: translate(44rem, 32.5rem);
            transform: translate(44rem, 32.5rem);
  }
  75% {
    -webkit-transform: translate(55rem, 16rem);
            transform: translate(55rem, 16rem);
  }
  84% {
    -webkit-transform: translate(46rem, 18rem);
            transform: translate(46rem, 18rem);
  }
  90% {
    -webkit-transform: translate(55rem, 18rem);
            transform: translate(55rem, 18rem);
  }
  95% {
    -webkit-transform: translate(46.5rem, 18rem);
            transform: translate(46.5rem, 18rem);
  }
  100% {
    -webkit-transform: translate(55rem, 18rem);
            transform: translate(55rem, 18rem);
  }
}

@keyframes ball-6 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(9rem, 7rem);
            transform: translate(9rem, 7rem);
  }
  10% {
    -webkit-transform: translate(0rem, 15rem);
            transform: translate(0rem, 15rem);
  }
  15% {
    -webkit-transform: translate(9rem, 20rem);
            transform: translate(9rem, 20rem);
  }
  20% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  28% {
    -webkit-transform: translate(14rem, 32rem);
            transform: translate(14rem, 32rem);
  }
  36% {
    -webkit-transform: translate(23rem, 22.5rem);
            transform: translate(23rem, 22.5rem);
  }
  44% {
    -webkit-transform: translate(30rem, 32rem);
            transform: translate(30rem, 32rem);
  }
  52% {
    -webkit-transform: translate(37rem, 22.5rem);
            transform: translate(37rem, 22.5rem);
  }
  60% {
    -webkit-transform: translate(44rem, 32.5rem);
            transform: translate(44rem, 32.5rem);
  }
  75% {
    -webkit-transform: translate(55rem, 16rem);
            transform: translate(55rem, 16rem);
  }
  84% {
    -webkit-transform: translate(46rem, 18rem);
            transform: translate(46rem, 18rem);
  }
  90% {
    -webkit-transform: translate(55rem, 18rem);
            transform: translate(55rem, 18rem);
  }
  95% {
    -webkit-transform: translate(46.5rem, 18rem);
            transform: translate(46.5rem, 18rem);
  }
  100% {
    -webkit-transform: translate(55rem, 18rem);
            transform: translate(55rem, 18rem);
  }
}

@-webkit-keyframes bat-6 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  10% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  15% {
    -webkit-transform: translate(0rem, 18rem);
            transform: translate(0rem, 18rem);
  }
  20% {
    -webkit-transform: translate(0rem, 23rem);
            transform: translate(0rem, 23rem);
  }
  27% {
    -webkit-transform: translate(0rem, 30rem);
            transform: translate(0rem, 30rem);
  }
  33% {
    -webkit-transform: translate(0rem, 30rem);
            transform: translate(0rem, 30rem);
  }
  36% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  46% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  47% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  50% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  52% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  55% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  58% {
    -webkit-transform: translate(0rem, 24rem);
            transform: translate(0rem, 24rem);
  }
  61% {
    -webkit-transform: translate(0rem, 24rem);
            transform: translate(0rem, 24rem);
  }
  63% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  65% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  68% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  90% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  92% {
    -webkit-transform: translate(0rem, 24rem);
            transform: translate(0rem, 24rem);
  }
  95% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  97.5% {
    -webkit-transform: translate(0rem, 24.5rem);
            transform: translate(0rem, 24.5rem);
  }
  100% {
    -webkit-transform: translate(0rem, 18.5rem);
            transform: translate(0rem, 18.5rem);
  }
}

@keyframes bat-6 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  10% {
    -webkit-transform: translate(0rem, 13rem);
            transform: translate(0rem, 13rem);
  }
  15% {
    -webkit-transform: translate(0rem, 18rem);
            transform: translate(0rem, 18rem);
  }
  20% {
    -webkit-transform: translate(0rem, 23rem);
            transform: translate(0rem, 23rem);
  }
  27% {
    -webkit-transform: translate(0rem, 30rem);
            transform: translate(0rem, 30rem);
  }
  33% {
    -webkit-transform: translate(0rem, 30rem);
            transform: translate(0rem, 30rem);
  }
  36% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  46% {
    -webkit-transform: translate(0rem, 25rem);
            transform: translate(0rem, 25rem);
  }
  47% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  50% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  52% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  55% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  58% {
    -webkit-transform: translate(0rem, 24rem);
            transform: translate(0rem, 24rem);
  }
  61% {
    -webkit-transform: translate(0rem, 24rem);
            transform: translate(0rem, 24rem);
  }
  63% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  65% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  68% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  90% {
    -webkit-transform: translate(0rem, 19rem);
            transform: translate(0rem, 19rem);
  }
  92% {
    -webkit-transform: translate(0rem, 24rem);
            transform: translate(0rem, 24rem);
  }
  95% {
    -webkit-transform: translate(0rem, 20rem);
            transform: translate(0rem, 20rem);
  }
  97.5% {
    -webkit-transform: translate(0rem, 24.5rem);
            transform: translate(0rem, 24.5rem);
  }
  100% {
    -webkit-transform: translate(0rem, 18.5rem);
            transform: translate(0rem, 18.5rem);
  }
}

@-webkit-keyframes ball-7 {
  0% {
    -webkit-transform: translate(0.3rem, 0rem);
            transform: translate(0.3rem, 0rem);
  }
  5% {
    -webkit-transform: translate(-9rem, 3rem);
            transform: translate(-9rem, 3rem);
  }
  10% {
    -webkit-transform: translate(0.3rem, 2rem);
            transform: translate(0.3rem, 2rem);
  }
  15% {
    -webkit-transform: translate(-9rem, -12rem);
            transform: translate(-9rem, -12rem);
  }
  20% {
    -webkit-transform: translate(0.3rem, -15rem);
            transform: translate(0.3rem, -15rem);
  }
  25% {
    -webkit-transform: translate(-9rem, -13rem);
            transform: translate(-9rem, -13rem);
  }
  30% {
    -webkit-transform: translate(0.3rem, -11rem);
            transform: translate(0.3rem, -11rem);
  }
  35% {
    -webkit-transform: translate(-9rem, -14rem);
            transform: translate(-9rem, -14rem);
  }
  40% {
    -webkit-transform: translate(0.3rem, -10rem);
            transform: translate(0.3rem, -10rem);
  }
  45% {
    -webkit-transform: translate(-9rem, -11rem);
            transform: translate(-9rem, -11rem);
  }
  50% {
    -webkit-transform: translate(0.3rem, -12rem);
            transform: translate(0.3rem, -12rem);
  }
  60% {
    -webkit-transform: translate(-9rem, -30rem);
            transform: translate(-9rem, -30rem);
  }
  70% {
    -webkit-transform: translate(0.3rem, -37rem);
            transform: translate(0.3rem, -37rem);
  }
  76% {
    -webkit-transform: translate(-9rem, -35rem);
            transform: translate(-9rem, -35rem);
  }
  84% {
    -webkit-transform: translate(0.3rem, -32rem);
            transform: translate(0.3rem, -32rem);
  }
  90% {
    -webkit-transform: translate(-9rem, -32rem);
            transform: translate(-9rem, -32rem);
  }
  95% {
    -webkit-transform: translate(0.3rem, -35rem);
            transform: translate(0.3rem, -35rem);
  }
  100% {
    -webkit-transform: translate(-9rem, -35rem);
            transform: translate(-9rem, -35rem);
  }
}

@keyframes ball-7 {
  0% {
    -webkit-transform: translate(0.3rem, 0rem);
            transform: translate(0.3rem, 0rem);
  }
  5% {
    -webkit-transform: translate(-9rem, 3rem);
            transform: translate(-9rem, 3rem);
  }
  10% {
    -webkit-transform: translate(0.3rem, 2rem);
            transform: translate(0.3rem, 2rem);
  }
  15% {
    -webkit-transform: translate(-9rem, -12rem);
            transform: translate(-9rem, -12rem);
  }
  20% {
    -webkit-transform: translate(0.3rem, -15rem);
            transform: translate(0.3rem, -15rem);
  }
  25% {
    -webkit-transform: translate(-9rem, -13rem);
            transform: translate(-9rem, -13rem);
  }
  30% {
    -webkit-transform: translate(0.3rem, -11rem);
            transform: translate(0.3rem, -11rem);
  }
  35% {
    -webkit-transform: translate(-9rem, -14rem);
            transform: translate(-9rem, -14rem);
  }
  40% {
    -webkit-transform: translate(0.3rem, -10rem);
            transform: translate(0.3rem, -10rem);
  }
  45% {
    -webkit-transform: translate(-9rem, -11rem);
            transform: translate(-9rem, -11rem);
  }
  50% {
    -webkit-transform: translate(0.3rem, -12rem);
            transform: translate(0.3rem, -12rem);
  }
  60% {
    -webkit-transform: translate(-9rem, -30rem);
            transform: translate(-9rem, -30rem);
  }
  70% {
    -webkit-transform: translate(0.3rem, -37rem);
            transform: translate(0.3rem, -37rem);
  }
  76% {
    -webkit-transform: translate(-9rem, -35rem);
            transform: translate(-9rem, -35rem);
  }
  84% {
    -webkit-transform: translate(0.3rem, -32rem);
            transform: translate(0.3rem, -32rem);
  }
  90% {
    -webkit-transform: translate(-9rem, -32rem);
            transform: translate(-9rem, -32rem);
  }
  95% {
    -webkit-transform: translate(0.3rem, -35rem);
            transform: translate(0.3rem, -35rem);
  }
  100% {
    -webkit-transform: translate(-9rem, -35rem);
            transform: translate(-9rem, -35rem);
  }
}

@-webkit-keyframes bat-7 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  10% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  15% {
    -webkit-transform: translate(0rem, -10rem);
            transform: translate(0rem, -10rem);
  }
  20% {
    -webkit-transform: translate(0rem, -18rem);
            transform: translate(0rem, -18rem);
  }
  25% {
    -webkit-transform: translate(0rem, -18rem);
            transform: translate(0rem, -18rem);
  }
  30% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  35% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  40% {
    -webkit-transform: translate(0rem, -7rem);
            transform: translate(0rem, -7rem);
  }
  45% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  50% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  55% {
    -webkit-transform: translate(0rem, -19rem);
            transform: translate(0rem, -19rem);
  }
  60% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  63% {
    -webkit-transform: translate(0rem, -42rem);
            transform: translate(0rem, -42rem);
  }
  65% {
    -webkit-transform: translate(0rem, -32rem);
            transform: translate(0rem, -32rem);
  }
  67.6% {
    -webkit-transform: translate(0rem, -37rem);
            transform: translate(0rem, -37rem);
  }
  70% {
    -webkit-transform: translate(0rem, -42rem);
            transform: translate(0rem, -42rem);
  }
  72.5% {
    -webkit-transform: translate(0rem, -35rem);
            transform: translate(0rem, -35rem);
  }
  75% {
    -webkit-transform: translate(0rem, -38rem);
            transform: translate(0rem, -38rem);
  }
  77% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  80% {
    -webkit-transform: translate(0rem, -35rem);
            transform: translate(0rem, -35rem);
  }
  83% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  85% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  90% {
    -webkit-transform: translate(0rem, -35rem);
            transform: translate(0rem, -35rem);
  }
  95% {
    -webkit-transform: translate(0rem, -38rem);
            transform: translate(0rem, -38rem);
  }
  100% {
    -webkit-transform: translate(0rem, -33rem);
            transform: translate(0rem, -33rem);
  }
}

@keyframes bat-7 {
  0% {
    -webkit-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }
  5% {
    -webkit-transform: translate(0rem, 5rem);
            transform: translate(0rem, 5rem);
  }
  10% {
    -webkit-transform: translate(0rem, 4rem);
            transform: translate(0rem, 4rem);
  }
  15% {
    -webkit-transform: translate(0rem, -10rem);
            transform: translate(0rem, -10rem);
  }
  20% {
    -webkit-transform: translate(0rem, -18rem);
            transform: translate(0rem, -18rem);
  }
  25% {
    -webkit-transform: translate(0rem, -18rem);
            transform: translate(0rem, -18rem);
  }
  30% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  35% {
    -webkit-transform: translate(0rem, -13rem);
            transform: translate(0rem, -13rem);
  }
  40% {
    -webkit-transform: translate(0rem, -7rem);
            transform: translate(0rem, -7rem);
  }
  45% {
    -webkit-transform: translate(0rem, -11rem);
            transform: translate(0rem, -11rem);
  }
  50% {
    -webkit-transform: translate(0rem, -12rem);
            transform: translate(0rem, -12rem);
  }
  55% {
    -webkit-transform: translate(0rem, -19rem);
            transform: translate(0rem, -19rem);
  }
  60% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  63% {
    -webkit-transform: translate(0rem, -42rem);
            transform: translate(0rem, -42rem);
  }
  65% {
    -webkit-transform: translate(0rem, -32rem);
            transform: translate(0rem, -32rem);
  }
  67.6% {
    -webkit-transform: translate(0rem, -37rem);
            transform: translate(0rem, -37rem);
  }
  70% {
    -webkit-transform: translate(0rem, -42rem);
            transform: translate(0rem, -42rem);
  }
  72.5% {
    -webkit-transform: translate(0rem, -35rem);
            transform: translate(0rem, -35rem);
  }
  75% {
    -webkit-transform: translate(0rem, -38rem);
            transform: translate(0rem, -38rem);
  }
  77% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  80% {
    -webkit-transform: translate(0rem, -35rem);
            transform: translate(0rem, -35rem);
  }
  83% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  85% {
    -webkit-transform: translate(0rem, -30rem);
            transform: translate(0rem, -30rem);
  }
  90% {
    -webkit-transform: translate(0rem, -35rem);
            transform: translate(0rem, -35rem);
  }
  95% {
    -webkit-transform: translate(0rem, -38rem);
            transform: translate(0rem, -38rem);
  }
  100% {
    -webkit-transform: translate(0rem, -33rem);
            transform: translate(0rem, -33rem);
  }
}
/*# sourceMappingURL=custom.css.map */