@import "../../../scss/retinajs";
$bg:#7ebdc3;
$color:#f0eae1;
body {
    background-color: $bg;
}

a,
p,
h1,
h2,
h3,
h4,
ul {
    color: $color;
}

#bg1 {
    background-image: url(img/bg-barinovcover.jpg);
    @include at2x('../img/bg-barinovcover');
}