@import "../../../scss/retinajs";
$bg:#8dcfbb;
body {
    background-color: $bg;
}

#triptych {
    width: 100vw;
    height: 38.6em;
    margin-top: 10em;
    min-width: 1000px;
    img {
        width: 2600px;
        float: left;
        padding: 0 15rem;
    }
}